!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript', src='/nowjs/now.js')

    script(type='text/javascript', src='/javascripts/FileStreamer.js')
    script(type='text/javascript', src='/javascripts/hashup.js')
  body!= body
